{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="sm:px-8 mt-16 sm:mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <header class="max-w-2xl">
                    <h1
                            class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                        Thanks for subscribing.</h1>
                    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">I’ll send you an email
                        any time I publish a new blog post, release a new project, or have anything
                        interesting to share that I think you’d want to hear about. You can unsubscribe
                        at any time, no hard feelings.</p>
                </header>
                <div class="mt-16 sm:mt-20"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}